@import url('https://fonts.googleapis.com/css2?family=UnifrakturCook:wght@700&display=swap');

body{
    margin: 0%;
    background-color: black;
}
nav{
    display: flex;
    justify-content: space-between;
    background-color: white;
    height: 70px;
}
.logo-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
}
p{
    font-family: 'UnifrakturCook';
}
.big-c{
    font-size: 50px;
}
.rest{
    font-size: 25px;
}
.bars{
    width: 20px;
    height: 3px;
    background-color: black;
    margin: 6px 0;
}

.hamburger-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}
.hamburger-menu button{
    background-color: transparent;
    border-radius: 10%;
}
section{
    display: flex;
    background-image: url(./images/joel-muniz-yb5VUJo_Ddw-unsplash.jpg);
    justify-content: center;
    align-items: center;
    height: 15rem;
    background-position: center;
    background-size: cover;
    transition: 0.5s;
}

@media screen and (min-width:481px){
    section{
        height: 24rem;
    }
}



        








   